@font-face {
    font-family: "Montserrat";
    src: url("resources/fonts/Montserrat-Regular.ttf") format("opentype")
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    padding: 10px;
    border: 0.077em solid #ccc;
    margin: 15px auto;
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    font-weight: 600;
    font-family: 'Montserrat';
    max-width: 600px;
}

input, select, textarea {
    outline: none;
}

label input {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/*
input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}*/

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.hidden {
    display: none;
}

.fxrow {
    display: flex;
    flex-direction: row;
}

.fxcolumn {
    display: flex;
    flex-direction: column;
}

.btn {
    width: auto;
    background: #fff;
    color: #c5c5c5;
    text-transform: uppercase;
    font-weight: 900;
    padding: 13px 41px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.btn-add {
    padding-top: 7px;
    padding-bottom: 7px;
}

.field {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.field-group {
    margin-bottom: 5px;
}

/** Подробные настройки */
.advanced-settings {
    padding: 5px 0;
}

.advanced-settings-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advanced-settings-item {
    border-bottom: 1px solid #ebebeb;
    margin: 10px 0;
}

/** Комментарии */

.comment-option {
    padding: 15px 0;
}

.comment-option-name {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 0 5px;
    font-family: Montserrat;
}

.comment-option-list {
    display: flex;
    flex-direction: column;
}

.comment-option-field {
    margin: 3px 0;
}

.comment-option-notify {
    margin-bottom: 5px;
}

.btn-options-save {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.options-status.success {
    color: green;
}

.options-status.failed {
    color: red;
}